<app-header></app-header>
<div class="container-found">
    <div class="containerCsite">
        <div class="col-12">
            <form novalidate [formGroup]="form">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <label class="mch-fs-30">Stack</label>
                    </div>
                    <div class="mt-4 mt-md-0 col-12 col-md-12 mch-color-white">
                        <p>
                            {{"STACK-DESC" | translate}}
                        </p>
                    </div>
                    <div class="mt-4 mt-md-0 col-12 col-md-12 mch-color-white">
                        <div class="row">
                            <div class="col-12 col-md-8 d-md-block">
                                <span class="p-input-icon-right w-full">
                                    <i class="pi pi-search"></i>
                                    <input type="text" formControlName="stack" (keyup)="filterStacks()" class="w-full"
                                        pInputText [placeholder]="getLabel('PLACEHOLDER')" />
                                </span>
                            </div>
                            <div class="col-4">
                                <span class=" mt-1 d-none d-md-flex p-input-icon-left d-flex justify-content-initial">
                                    <div class="circle">
                                        <i class="{{viewListOrNot ? 'pi pi-list icon' : 'pi pi-th-large'}}"
                                            [pTooltip]="getLabel(viewListOrNot ? 'TIP.list' : 'TIP.icons')"
                                            tooltipPosition="top" (click)="getList($event)"></i>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div *ngIf="viewListOrNot" class="row mt-0 mt-md-2 justify-content-center">
                            <!-- Adicione a classe "justify-content-center" para centralizar -->
                            <div *ngFor="let s of logsStack"
                                class="mt-5 col-6 col-md-3 d-flex align-items-center justify-content-center">
                                <div (click)="viewStack(s)" class="fade-in text-center panelStack">
                                    <img class=" imgStack img-fluid" [src]="s.src" alt="Imagem">
                                    <div>
                                        <p>{{ s.nome }}</p>
                                    </div>
                                    <div class="titleStack">
                                        <label class="mt-2 labelStackTitle">{{ s.lang | translate }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!viewListOrNot" class="fade-in row mt-0 mt-md-4 justify-content-center">
                            <!-- Adicione a classe "justify-content-center" para centralizar -->
                            <p-table #table [value]="logsStack" styleClass="p-datatable-striped"
                                responsiveLayout="scroll" [rowHover]="true">
                                <ng-template pTemplate="header">
                                    <tr>

                                        <th>
                                            <p>{{"TB.stack" | translate}}</p>
                                        </th>
                                        <th>
                                            <p>{{"TB.type" | translate}} </p>
                                        </th>
                                        <th>
                                            <p>{{"TB.toView" | translate}}</p>
                                        </th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-stacks>
                                    <tr>

                                        <td>{{ stacks.nome }}</td>
                                        <td>{{ stacks.tipo }}</td>
                                        <td>
                                            <div class="col-12 d-flex flex-row align-items-center">
                                                <i class="iconView pi pi-eye rth-color-secundary"
                                                    [pTooltip]="getLabel('TOOLTIPVIEW')" tooltipPosition="right"
                                                    (click)="viewStack(stacks)"></i>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-4">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<!-- <app-modal-viewer #mViewer></app-modal-viewer> -->