<div class="container-found">
    <app-header></app-header>
    <div class="row">
        <!-- <div class="col-12 col-md-5 mch-color-white mch-fs-70 text-hi">{{simbol + " Hi, good to have you back!"}}</div> -->
        <!-- <div class=" col-12 col-md-6 image-overlay img-fluid file-img-login-img "> <img src="../../../../assets/img-login.png"
                onerror="this.onerror=null; this.src='assets/img/logo.png'" alt="Rita RH"
                class="file-img-login sidebar-menu-logo" />
            <div class="row input-container">
                <div class="col-12 col-md-12">
                    <span>
                        <label class="mch-color-white"></label>
                        <input placeholder="Email" pInputText type="text" />
                    </span>
                </div>

                <div class="col-12 col-md-12">
                    <span>
                        <label class="mch-color-white"></label>
                        <input placeholder="Email" pInputText type="text" />
                    </span>
                </div>

                <div class="row">
                    <div class="col-12 col-md-12 mt-4">
                        <p-button class="mch-color-grey"><label class="mch-fs-17 mt-2">Entrar</label></p-button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>