<app-header></app-header>
<div class="container-found">
    <div class="containerCsite">
        <div class="col-12">
            <div class="col-12 col-md-12 "><label class="text-hi-title">{{"ABOUT" | translate}}</label></div>
            <div class="row ">
                <div class=" col-12 col-md-4 mch-color-white imgProfile">
                    <img class="imgProfile" src="./assets/profile.jpg" alt="profile">
                </div>

                <div [innerHTML]="translatedText"
                    class="mt-4 mt-md-0 d-flex flex-column  mt-md-0 col-12 col-md-8 mch-color-grey2  desc bline">
                </div>



            </div>
            <div class="row">
                <div class="mt-4 col-12 col-md-12 title"><!-- titulo -->
                    <p class="title">{{"CAREER" | translate}}</p>
                </div>
                <div class="col-12 col-md-12 mch-c"><!-- subtitulo -->
                    <h5>{{"DEV-DESC" | translate}}</h5>
                    <label class="bline mch-color-grey2"><a href="http://fegit.com.br/" target="_blank"
                            class="mch-color-white"><span class="mch-color-grey2">FegIt</span></a> • Barueri, SP
                    </label>
                    <p class="mch-color-grey2">{{"DATECAREER" | translate}}</p>

                </div>
                <div class="col-12 content">
                    <hr class="divider">
                </div>
                <div class="col-12 col-md-12 mch-c"><!-- subtitulo -->
                    <h5>{{"DEV-DESC2" | translate}}</h5>
                    <label class="bline mch-color-grey2"><a href="https://www.timeware.com.br" target="_blank" class="mch-color-white"><span
                                class="mch-color-grey2">Timeware</span></a> • São Paulo, SP
                    </label>
                    <p class="mch-color-grey2">{{"DATECAREER2" | translate}}</p>

                </div>
            </div>


        </div>
        <app-footer></app-footer>
    </div>
</div>