<!-- <div class="navbar-header"><p>chama</p></div> -->
    <!-- <div class="navbar-header"> -->
        <div class="navbar-header w-full flex  navbar-expand-lg bd-navbar sticky-top">
            <div class="ml-1 mr-1 row">
                <div class="col-2 mt-2">
                    <div class="">
                        <img src="../../../assets/logo-site-c.png"
                            onerror="this.onerror=null; this.src='assets/img/logo.png'" alt="Rita RH"
                            class="file-img sidebar-menu-logo" />
                    </div>
                </div>
                <div class="col-12 col-md-8 d-flex justify-content-end">
                    <div *ngFor="let o of optionsMenu" class="opt-navbar">
                        {{o.option}}
                    </div>

                    <div class="btn-navbar mt-4">Inicio</div>
                </div>
                <div class="col-6 col-md-3 mt-2">
                </div>
            </div>
        </div>
    <!-- </div> -->