<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <div class="d-none d-md-block text-center col-md-6 d-flex">
            <a class="navbar-brand mr-auto" id="reload" href="#">
                <img src="./assets/logo-site-c.png" (error)="handleImageError()" alt="Rita RH"
                    class="file-img sidebar-menu-logo" />
            </a>
        </div>

        <div class="m-md-0 m-2 row ">
            <div class="col-12 col-md-2"> <button class=" navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="menu-d pi pi-bars"></span>
                </button></div>
        </div>
        <div class="col-12 col-md-5  d-flex justify-content-initial justify-content-md-end text-md-end text-center">
            <div class="dp-menu collapse text-center text-md-left align-items-left navbar-collapse" id="navbarNav">
                <ul class="navbar-nav options d-flex flex-column flex-md-row align-items-center">
                    <li *ngFor="let o of optionsMenu" class="opt-navbar nav-item">
                        <a id="inicio" (mouseenter)="onMouseEnter($event, o)" #rla="routerLinkActive"
                            [routerLink]="['/' + o.routerLink]"
                            class="{{ rla.isActive ? 'typeOpt' : ' optMenu typeOpt z'}}" routerLinkActive
                            [routerLinkActive]="['linkSelect']" href="#">{{o.option}}</a>
                        <ul *ngIf="seeMenu" class="ehMobile">
                            <li *ngFor="let s of optionsSubMenu">
                                <a class="text-left x" [routerLink]="['/' + s.routerLink]">
                                    <div class="panelElementMenu">
                                        <div class="menu-content">
                                            <label class="mch-fs-13 titleMenu">{{s.title}}</label>
                                            <label
                                                class="mch-fs-13 subtitleMenu mch-color-secundary">{{s.subtitle}}</label>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>
                <div class="  ml-0 ml-md-3 btn-navbar mt-4" [routerLink]="['/home']">Home</div>
                <!-- <div *ngIf="seeMenu" (mouseleave)="onMouseOut()"
                    class=" row mch-color-white retanguloMenu  flex-column d-flex text-left accompaniment">
                    <div class="col-12 col-md-12">
                        <div *ngFor=" let s of optionsSubMenu" [routerLink]="['/about']" class="panelElementMenu">
                            <div class="menu-content">
                                <label class="mch-fs-15 titleMenu">{{s.title}}</label>
                                <label class="mch-fs-14 subtitleMenu mch-color-secundary">{{s.subtitle}}</label>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</nav>