<p-dialog  [(visible)]="displayModal" [style]="ehMobile ? { width: '90vw', height: '200vw' } : {width: '20vw', height: '50vw'} ">
    <div class="titleModal text-center col-12">Mande um email.</div>
    <form novalidate [formGroup]="form">
        <div class="row">
        
            <div class="mt-4 col-12 col-md-12">
                <div class="field">
                    <input placeholder="Digite seu Nome" type="text" formControlName="nome"  class="w-full" pInputText />
                </div>
            </div>
            <div class="mt-4 col-12 col-md-12">
                <div class="field">
                    <input placeholder="email" type="text" formControlName="email"  class="w-full" pInputText />
    
                </div>
            </div>
            <div class="mt-4 col-12 col-md-12 form-group">
                <div class="field">
                    <input placeholder="Digite seu Telefone" formControlName="telefone" type="text"  mask="000.000.000-00" class="w-full" pInputText />
                </div>
            </div>
            <div class="mt-4 col-12 col-md-12">
                <div class="field">
                    <input placeholder="Assunto" type="text" formControlName="assunto"  class="w-full" pInputText />
    
                </div>
            </div>
            <div class="mt-4 col-12">
                <textarea class="w-full" placeholder="Escreva em detalhes o que tem pensado" formControlName="text" rows="5" cols="30" pInputTextarea></textarea>
            </div>

            <div class="mt-4 col-12 text-center">
                <p class="mch-fs-17 iconWhatsapp">Me chame no whatsapp se prefirir </p>
                <a class="mt-5 mt-md-0 iconSocial  pi pi-whatsapp"
                    href=" https://wa.me/5511963034276" target="_blank"
                    ></a>
            </div>

    
        </div>
    </form>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12 mt-4">
            <p-button [disabled]="!form.valid" (onClick)="save()" class="w-full" label="Enviar"></p-button>
        </div>

    </div>

</p-dialog>