@use "./_variables.scss" as bs-color;

$sizes: (
    "": 0px,
    "-md": 798px,
);
$total-border: 10;

$sides: (
    "": "",
    "-bottom": "-bottom",
    "-top": "-top",
    "-left": "-left",
    "-right": "-right",
);

@each $sizename, $sizevalue in $sizes {
    @each $name, $value in bs-color.$mch-colors {
        .mch-color#{"" + $sizename}#{"-" + $name} {
            @media (min-width: $sizevalue) {
                color: $value !important;

                &:hover {
                    color: $value;
                }
            }
        }

        .mch-bg-color#{"" + $sizename}#{"-" + $name} {
            @media (min-width: $sizevalue) {
                background-color: $value !important;
            }
        }

        .mch-bg-hover#{"" + $sizename}#{"-" + $name}:hover {
            @media (min-width: $sizevalue) {
                background-color: $value !important;
            }
        }

        .mch-border-color#{"" + $sizename}#{"-" + $name} {
            @media (min-width: $sizevalue) {
                border-color: $value !important;
            }
        }
    }

    @each $side, $sideV in $sides {
        @for $i from 0 through $total-border {
            .mch-border#{"" + $side}#{"" + $sizename}#{"-" + $i} {
                @media (min-width: $sizevalue) {
                    border#{"" + $side}-width: #{$i}px;
                    border#{"" + $side}-style: solid;
                }
            }
        }
    }
}

.container {
    color: white;
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
}

