$total-size: 500;
$sizes: (
    "": 0px,
    "-md": 798px,
);
@each $size, $sizevalue in $sizes {
    @for $i from 0 through $total-size {
        @media (min-width: $sizevalue) {
            .mch-h#{"" + $size}-#{$i} {
                height: #{$i}px;
            }
            .mch-w#{"" + $size}-#{$i} {
                width: #{$i}px;
            }
            .mch-fs#{"" + $size}-#{$i} {
                font-size: #{$i}px;
            }
        }
    }
}
