@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Aldrich");

.navbar-header {
    width: 100%;
    float: left;
    position: fixed;
    z-index: 8;
    background-color: #0C0C0C;
    height: auto;
}

.navbar-custom {
    background-color: #0c0c0c;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-custom .navbar-toggler-icon {
    background-color: #FFFFFF;
}


.opt-navbar {
    font-family: "Aldrich", sans-serif;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 16px;
    min-width: 100px;
    display: inline-block;
    // margin-right: 5px;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
}

.navbar-toggler {
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Personalize o ícone do botão de expansão */
.navbar-toggler-icon {
    background-color: #fff;
}

@media (max-width: 767px) {
    .navbar-header {
        overflow-x: auto;
        white-space: nowrap;
    }

    .opt-navbar {
        display: inline-block;
    }
}

.div-fullscreen {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-menu-logo {
    max-width: 120px;
    margin-left: 240px;
}

@media (max-width: 1340px) {
    .sidebar-menu-logo {
        margin-left: 0px
    }


}



.btn-navbar {
    font-family: "Aldrich", sans-serif;
    width: 110px;
    height: 40px;
    background-color: #D4FF5B;
    color: #000000;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-table;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}



.btn-navbar:hover {
    color: #fff;
    transform: scale(1.05);
    /* Aumenta o tamanho em 20% ao passar o mouse */
    cursor: pointer;
    background-color: #3d3d3d;
}

.file-img {
    position: unset;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
}

.linkSelect {
    transition: none;
    border-bottom: 2px solid #D4FF5B;
}

@media (max-width: 768px) {
    .linkSelect {
        border-bottom: none
    }
}


.optMenu {
    text-decoration: none;
    color: white;
    position: relative;
}

.optMenu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #d3ff5b;
    transition: width 0.2s ease-in-out;
    color: #b6b6b6;
}

.optMenu:hover::before {
    width: 100%;
    color: #b6b6b6;
}

.optMenu:hover {
    color: #b6b6b6;
    text-decoration: none;

}


.typeOpt {
    color: #ffffff;

    text-decoration: none;
}

.typeOpt:hover {
    color: #b6b6b6;
    text-decoration: none;

}






