@import url("https://fonts.googleapis.com/css?family=Aldrich");

.navbar-header {

    width: 100%;
    float: left;
    position: fixed;
    z-index: 8;
    background-color: #0C0C0C;
    height: auto;
}

.div-fullscreen {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-menu-logo {
    max-width: 120px;
    margin-left: 66px;
}

.opt-navbar {
    font-family: "Aldrich", sans-serif;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 16px;
    min-width: 100px;
    /* Defina a largura mínima desejada */
    display: inline-block;
    /* Alterado de flex para inline-block */
    margin-right: 5px;
    /* Adiciona margem à direita para separar os elementos */
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
}

.btn-navbar {
    font-family: "Aldrich", sans-serif;
    width: 120px;
    height: 40px;
    background-color: #D4FF5B;
    /* Cor de fundo do botão */
    color: #000000;
    /* Cor do texto no botão */
    padding: 10px 20px;
    /* Espaçamento interno do botão */
    border-radius: 30px;
    /* Raio das bordas arredondadas */
    text-align: center;
    /* Centraliza o texto no botão */
    text-decoration: none;
    /* Remove sublinhado de links (caso seja um link) */
    display: inline-block;
    /* Permite que o botão tenha largura e altura de acordo com o conteúdo */
    font-size: 16px;
    /* Tamanho da fonte do texto no botão */
    cursor: pointer;
    /* Transforma o cursor em uma mãozinha ao passar o mouse sobre o botão */
    border: none;
    /* Remove a borda do botão */
}

.file-img {
    position: absolute;
    max-width: 45%;
    max-height: 100%;
}