<app-header></app-header>
<div class="container-found">
    <div class="containerCsite">
        <div class="col-12">
            <div class="row ">
                <div class=" col-12 col-md-8 mch-color-white text-hi">
                    <label><span [style]="simbolStyle">{{ simbol }}</span> Hi, I’m Lucas Machado - Front-end
                        developer.</label>
                    <!-- <label><span [style]="simbolStyle">{{ simbol }}</span> Hi, I’m Lucas Machado - Front-end
                        developer.</label> -->
                    <p class="mch-fs-17 mch-color-grey2">Dando vida à web com código e design.</p>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4 col-12 ">
                    <p-button icon="pi pi-send" label="Me Acompanhe nas Redes" iconPos="right" ></p-button>
                </div>
                <div class="mt-4 mt-md-0 col-md-0 col-md-2 col-12">
                    <p-button [routerLink]="'/projects'" label="Projetos" styleClass="p-button-outlined"></p-button>
                </div>
            </div>

            <div class="mt-4 row">
                <!-- <div [routerLink]="['/projects']" class="panelElement mt-4 col-12 col-md-6">
                    <div class="image-container">
                        <img class="imgStacks" src="./assets/projects.jpg" alt="about">
                        <div class="overlay">
                            <label class="label">Projetos</label>
                        </div>
                    </div>
                </div>
                <div class="panelElement mt-4 col-12 col-md-6">
                    <div class="image-container">
                        <img class="imgStacks" src="./assets/fotoMinha.jpg" alt="about">
                        <div class="overlay">
                            <label class="label">Fotografia</label>
                        </div>
                    </div>
                </div> -->

                <div class="panelElement mt-4 col-12 col-md-6">
                    <p-panel>
                        <p>
                            Pedro Machado da Silva
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo
                        </p>
                    </p-panel>
                </div> 
                
                

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>