<app-header></app-header>
<div class="container-found">
    <div class="containerCsite">
        <div class="col-12">
           



        </div>
        <div class="mt-4">
            <app-footer></app-footer>
        </div>
    </div>
</div>
<!-- <app-modal-weather [dadosWeather]="dadosWeather" [src]="src" #mWeather></app-modal-weather> -->


<!-- <div>{{"HELLO" | translate}}</div>
<p-button (click)="switchLanguage('en')" icon="pi pi-send" label="translate" iconPos="right"></p-button>
<p-button (click)="switchLanguage('pt')" icon="pi pi-send" label="translate" iconPos="right"></p-button> -->