<app-header></app-header>
<div class="container-found">
    <div class="containerCsite">
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-12 text-center ">
        <p class="mt-4 text-hi-title mch-fs-50" >Contato.</p>
        <img class="imgConfig" src="./assets/config.png" alt="man" />
        <p class="mt-4" >Em manutenção.</p>
    </div>
    <div class="mt-4 m-4 col-12 col-md-3">
        <p-button [routerLink]="['/home']" label="Página Inicial"></p-button>
    </div>
    
    
</div>
        <app-footer></app-footer>
    </div>
</div>