<app-header></app-header>
<div class="container-found">
    <div class="containerCsite">

        <div class="row">


            <div class="col-12 col-md-12 d-flex justify-content-center justify-content-md-start">
                <div class="circle-container ">
                    <img class="car img-responsive" src="./assets/avatar.png" alt="Carro elétrico">
                </div>
                <div (click)="sendDm()"
                    class="m-1 m-md-3 ml-2 ml-md-0 text-center d-flex flex-column justify-content-center btn-desc-contact mch-color-black">
                    <p class="titleBtnContact">
                        <!-- <span class="pulse"></span> -->
                        <label class="mt-1 subTitleBtnContact">{{"contact.sendDm" | translate}}<span
                                class="ml-3 mch-fs-20 pi pi-send"></span></label>
                    </p>


                </div>
            </div>



            <div class="col-12 d-flex justify-content-center ">


                <div class="mt-4 row contentContact ">


                    <!-- <div *ngFor="let c of social" class="col-12 col-md-6 btnContact "></div> -->

                    <div class="col-12 col-md-6">
                        <p class="mt-4 mch-fs-15 text-center mch-color-black">
                            <span class="mch-fs-25 pulse"></span>
                            {{"contact.title" | translate}}
                        </p>
                        <div *ngFor="let c of social" class="mt-2 btnContact ">
                            <div class="row d-flex justify-content-start">
                                <div class="mt-4 col-3">
                                    <span class="mch-fs-25 iconSocialC {{c.icon}}"></span>
                                </div>


                                <div class="col-6 text-center d-flex flex-column justify-content-center">
                                    <p class="mch-fs-17">{{c.nome}}</p>
                                    <label *ngIf="c.desc" class="mch-fs-15 mch-color-secundary">
                                        {{c.desc}}
                                    </label>
                                    <label *ngIf="!c.desc" class="mch-fs-13 mch-color-black">
                                        --
                                        <span [style]="simbolStyle">{{simbol}}</span> --
                                    </label>
                                </div>
                                <div class="col-3 text-center">
                                    <a class=" iconSocialContact  pi pi-external-link"
                                    href="{{c.link}}" target="_blank"
                                    ></a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-12 col-md-6">
                        <div id="map" class="w-full mt-4 contentMap p-2 bd-highlight"></div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div id="map">
        </div> -->

        <div class="mt-4">
            <app-footer></app-footer>
        </div>
    </div>
</div>