button:focus {
  outline: none !important;
}

.p-component.p-datepicker-trigger,
.p-component.p-button {
  color: $white;
  font-size: 15px;
  font-family: "Aldrich", sans-serif;
  background-color: $greyicon;
  border-color: $greyicon;
  border-radius: 50px;
  font-weight: normal;

  justify-content: center;

  &-outlined {
    background-color: $white;
    color: $greyicon;
  }

  &:not(.exit, .p-button-icon-only, .p-fileupload-choose) {
    width: 100%; /* ou ajuste o valor conforme necessário */
    height: 50px;
    /* left: 17px; */ /* Remova ou ajuste conforme necessário */
    /* top: -28px; */ /* Remova ou ajuste conforme necessário */
    text-align: center;
}
}

.pi-chevron-left {
  color: $secundary;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Distribui o espaço entre as colunas */
}