button:focus {
  outline: none !important;
}

.p-component.p-datepicker-trigger,
.p-component.p-button {
  color: $white;
  font-size: 15px;
  font-family: "Aldrich", sans-serif;
  background-color: $greyicon;
  border-color: $greyicon;
  border-radius: 50px;
  font-weight: normal;

  justify-content: center;

  &-outlined {
    background-color: $white;
    color: $greyicon;
  }

  &:not(.exit, .p-button-icon-only, .p-fileupload-choose) {
    width: 100%; 
    height: 50px;
    
   
    text-align: center;
}
}

.pi-chevron-left {
  color: $secundary;
}

.flex-container {
  display: flex;
  justify-content: space-between; 
}

.menu-d {
  font-size: 30px;
}